
.app-footer{
    display: flex;
    justify-content: space-between;
}
.app-paragrah-footer{
    color: lightgray;

}
.app-divlikes{
    display: flex;
    align-items: center;
}
.app-plikes{
    font-size: 30px;
}
.app-img-footer{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    text-align: right;
    
}